<navbar-projectmng></navbar-projectmng>
<div class="container mt-5">
        <div>
<div>      <a class="btn btn-success" href="#!/newMeeting" >Create a new meeting</a>
</div>
          <h1> Filter meetings  by: </h1>
      
          <form >
            <div class="form-row col-md-12">
              <div class="form-group col-md-4">
                <input type="text" class="form-control" placeholder="Enter Crew name" ng-model="pcrew" >
              </div>
      
              
      
              <div class="form-group col-md-4">
                <input type="text" class="form-control"placeholder="Enter Meeting code" ng-model="meetingCode">
              </div>
            </div>
            
            
      
            <button type="submit" class="btn btn-primary">Submit your search</button>
          </form>
      
          <br>
          
          <br>
          <br>
      
          <div class="form-group col-md-8">
                <h1> To see all tasks of a meeting click the meeting link bellow: </h1>
            <div id="accordion" ng-repeat="meet in meetings"  >
              <div class="card ">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                         <button type="submit" class="btn btn-primary"   ng-click="dispActiveMeetingTasks(meet.meetingCode)"  >  </button><span>      Meeting code: {{meet.meetingCode}}| Date: {{meet.meetingDate}}    | Crew: {{meet.pcrew}}|Participants {{meet.participants}}</span>
                          
                    
                    
                  </h5>
                </div>
      
                
              </div>
      
      
            </div>
          </div>
      <h1>here will come the tasks included in a meeting code</h1>
      <div class="form-group col-md-8">
          <div id="accordion" ng-repeat="mask in meettasks">
            <div class="card ">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#{{mask.taskId}}" aria-expanded="true" aria-controls="{{mask.taskId}}">
                    Crew: {{mask.crew}} | Project: {{mask.project}} | Owner: {{mask.owner}} | Due date: {{mask.dueDate}}    | Status: {{mask.status}}
                  </button>
                </h5>
              </div>
    
              <div id="{{mask.taskId}}" class="collapse  " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  {{mask.description}}
                </div>
              </div>
            </div>
    
    
          </div>
        </div>
      
      
      
        </div>
      </div>